<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap">

</head>
<body>

<%- include('header') %>

<main>
    <section class="about-section">
        <h2>About Us</h2>

        <img src="https://static1.colliderimages.com/wordpress/wp-content/uploads/2022/07/the-secret-life-of-pets.jpg" alt="The Secret Life of Pets" style="width: 100%; max-width: 800px; display: block; margin: 1rem auto;">

        <p>Welcome to the Pet Adoption Center, where furry friends find their forever homes and hearts are filled with unconditional love. Our mission is to connect loving families with adorable pets in need of a second chance. Whether you're looking for a playful pup to join your morning walks or a cuddly kitten to warm your lap, we're here to help you find the perfect match.</p>
        <p>At the Pet Adoption Center, we believe that every pet deserves a loving home, and every home deserves a loyal companion. With a diverse selection of dogs, cats, and other small animals, we strive to provide a safe and nurturing environment for both our animals and prospective adopters. Our experienced staff are dedicated to ensuring a seamless adoption process, from the initial meet-and-greet to bringing your new furry friend home.</p>
        <p>Join us at the Pet Adoption Center and embark on a journey of companionship and joy. As you step into our welcoming facility, you'll be greeted by wagging tails, gentle purrs, and hopeful eyes. Whether you're an experienced pet owner or new to the world of pet parenthood, our knowledgeable team is here to guide you through every step of the adoption process. Together, let's make a difference in the lives of our furry friends and create countless cherished memories along the way.</p>
    </section>
</main>

<%- include('footer') %>

</body>
</html>
