<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap">
</head>
<body>

    <%- include('header') %>
    
    <main>
        <section class="contact-section">
        <h2>Contact Us</h2>
        <div class="contact-info">
            <p><strong>Address:</strong> 123 Fake Street, Faketown, CA</p>
            <p><strong>Phone:</strong> +1 (555) 123-4567</p>
            <p><strong>Email:</strong> contact@petadoptioncenter.fake</p>
        </div>
        </section>
    </main>
    

    <%- include('footer') %>
    
    <script src="js/main.js"></script>
</body>
</html>
