<header>
    <h1>Pet Adoption Center</h1>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/">Main</a></li>
            <li><a href="/favorite">Favorite</a></li>
            <li><a href="/adopt">Adopt</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>