<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted Successfully</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap">
</head>
<body>
    <%- include('header') %>
    
    <main>
        <h2>Application Submitted Successfully</h2>
        <p>Thank you for submitting your application!</p>
    </main>
    
    <%- include('footer') %>
</body>
</html>
